.BORDA {
    border: solid 1px red;
}

#hero {
    height: 85vh;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;


    .arrow-down {
        width: 32px;
        height: 32px;
        margin-bottom: 67px;
        display: flex;
        justify-self: center;
        align-self: center;
    }
}



#about {
    max-width: 680px;
    margin-top: 120px;
    justify-self: center;

    border: 1px solid green;

    p {
        text-align: center;
    }

    p:nth-child(4) {
        color: var(--gray-400);
    }

}

#tech-stack {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;

    position: relative;

    ul {
        margin-top: 80px;
        list-style: none;
        gap: 26px;
        color: var(--gray-500);
        font: var(--text-sm);

        li {
            display: flex;
            align-items: center;
            gap: 8px;
            border-radius: 99px;
            padding: 8px 16px;
            background-color: var(--gray-300);

            img {
                width: 24px;
                height: 24px;
            }

        }
    }
}

#projects {
    margin-top: 52px;
    gap: 24px;
    place-content: center;
    padding-bottom: 144px;

    .project-card {
        background-color: var(--gray-300);
        border-radius: 12px;
        padding: 12px;
        width: 330px;
        height: 280px;


        .card-text {
            margin-top: 20px;


            p {
                margin-top: 8px;
            }
        }
    }


    img {
        border-radius: 8px;
        width: 306px;
        height: 156px;
    }

}

#services {
    background-color: var(--gray-100);
    width: 100%;
    padding: 88px 120px;
    flex-direction: column;
    gap: 56px;

    #services-text {
        place-content: center;
    }

    #service-cards-container {
        justify-content: center;
    }

    .service-card {
        max-width: 280px;
        border: 2px solid var(--gray-200);
        padding: 20px;
    }


}