.grid{
    display: grid;
    justify-items: center;
}

.grid-flow-col{
    
    grid-auto-flow: column;
}

.flex{
    display: flex;
}

.container{
    max-width: 100%;
}

.arrow-down{
    display: flex;
    justify-self: center;
    align-self: center;
}

