.grid{
    display: grid;
    justify-items: center;
}

.grid-flow-col{
    
    grid-auto-flow: column;
}

.flex{
    display: flex;
}

.container{
    max-width: 100%;
}

.grid-cols{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
}

.gap-24{
    gap: 24px;
}