@import url(global.css);

.grid{
    display: grid;
    justify-items: center;
}

.flex{
    display: flex;
}

.container{
    max-width: 100vw;
}

.hello{
    font: var(--subtitle);
    color: var(--gray-500);
}
